@using CatalogStructureClient.Services
@using CatalogStructureClient.Components
@using CatalogStructureDto
@inject CatalogAPIService CatalogService

@page "/"

<div class="root">
    <div class="catalogs">
        <CatalogTree/>
    </div>
</div>

@code {

}